<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Lista de clientes - Evaluacion</title>
	<!-- CSS y Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="CSS/Clientes.css">

	<!-- CSS y Bootstrap -->

	<!-- Logo -->
	<link rel="icon" href="/IMG/user-tie-solid.svg" />
	<!-- Logo -->
</head>

<body>
	<!--JavaScript-->
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/dataTables.js"></script>
	<script src="/js/Alert.js"></script>


	<!--JavaScript-->




	<!--Header-->
	<header>

		<a href="">
			<img src="/IMG/HeaderHim.gif" alt="" style=" width: 100.1%; " />
		<br><br><br><br><br><br>

			<!--Header-->



			<!--Tabla Usuarios-->
			<div class="container">

			
				<div class="row">
					<div>
						<a th:href="@{/clientes/nuevo}" class="Cs">Crear cliente</a>
					</div>

					


				</div>
				<br>
				<table class="table table-striped table-bordered" id="usuarios">
					<thead class="ColorT">
						<tr>
							<th>Documento</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Fecha de nacimiento</th>
							<th>Ciudad</th>
							<th>Correo</th>
							<th>Teléfono</th>
							<th>Ocupación</th>


							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${clientes}">
							<td th:text="${c.Numero_documento}">Id</td>
							<td th:text="${c.Nombre}">Nombres</td>
							<td th:text="${c.Apellido}">Apellidos</td>
							<td th:text="${c.Fecha_Nacimiento}">Tipo Fecha_Nacimiento</td>
							<td th:text="${c.Ciudad}">Ciudad</td>
							<td th:text="${c.Correo}">Correo</td>
							<td th:text="${c.Telefono}">Teléfono</td>
							<td th:text="${c.Ocupacion}">Ocupacion</td>




							<!--Botones Acciones-->
							<td>
								<a th:href="@{/clientes/editar/{id}(id=${c.Numero_documento})}" class="btn btn-info">
									<img src="img/Edit.svg"></a>


								<a th:onclick="eliminar([[${c.Numero_documento}]])" class="btn btn-danger">
									<img src="img/bx-trash-alt.svg"></a>

							</td>
							<!--Botones Acciones-->
						</tr>
					</tbody>
				</table>
			</div>


			<!--Tabla Usuarios-->


			<!--footer-->


			<footer>
				<div>

					<img src="/IMG/FooterHim.gif" alt="" style="margin-top:-2% ; width: 100.1%;padding-top: 20%; ">
				</div>
			</footer>

			<!--footer-->



</body>

</html>